<template>
    <div class="h-100 container justify-content-center align-items-center">
        <div class="h-100 row justify-content-center align-items-center">
            <div class="col-6">
                <div class="card fat shadow">
                    <div class="card-body">
                        <h3>Welcome to Notes Demo Application</h3>

                        <transition name="slide-fade">
                            <div class="alert alert-danger" role="alert" v-show="displayError">
                                {{error}}
                            </div>
                        </transition>

                        <form @submit.prevent="signIn">
                            <div class="form-group">
                                <label for="token">Login token</label>
                                <input type="text" class="form-control" id="token" placeholder="Enter token" v-model="token" required>
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block" :disabled="isLoading">
                                    Login
                                </button>
                            </div>
                        </form>

                        <div class="mt-4 text-center">
                            Don't have an account?
                            <a href="#" @click.prevent="register">
                                Create New One  <fa-icon icon="unlock-alt"></fa-icon>
                            </a>
                        </div>

                        <div class="mt-3 small">
                            This demo application was build using following technologies:
                            <ul>
                                <li>Laravel 5.7</li>
                                <li>Vue.js 2.5</li>
                                <li>Bootstrap 4</li>
                                <li>GraphQL & Apollo client</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import gql from "graphql-tag";
    import AuthStore from "../../stores/AuthStore";

    export default {
        methods: {
            signIn() {
                this.$apollo.mutate({
                    mutation: gql`mutation LogIn ($name: String!) {
                        logIn(name: $name)
                    }`,
                    variables: {
                        name: this.token,
                    },
                }).then(({data}) => {
                    AuthStore.loginUser(data.logIn);
                    this.isLoading = false;
                }).catch((error) => {
                    this.isLoading = false;
                    this.error = error.graphQLErrors[0].message;
                    this.displayError = true;
                    this.token = "";

                    setTimeout(() => {
                        this.displayError = false;
                    }, 3000);
                });
            },

            register() {
                this.isLoading = true;
                this.$apollo.mutate({
                    mutation: gql`mutation Register {
                        register
                    }`,
                }).then(({data}) => {
                    this.isLoading = false;
                    AuthStore.loginUser(data.register);
                });
            }
        },

        data() {
            return {
                token: "",
                error: "",
                displayError: false,
                isLoading: false,
            }
        },
        name: "LoginComponent"
    }
</script>