<template>
    <welcome-component v-if="!sharedState.isLoggedIn"></welcome-component>
    <notes-component v-else></notes-component>
</template>

<script>
    import AuthStore from '../stores/AuthStore';
    import WelcomeComponent from './Auth/WelcomeComponent';
    import NotesComponent from './Notes/NotesComponent';

    export default {
        data() {
            return {
                sharedState: AuthStore.state
            }
        },

        created() {
           AuthStore.initialize();
        },

        components: {
            WelcomeComponent,
            NotesComponent
        }
    }
</script>
