<template>
    <div class="col-md-3" :data-id="note.id">
        <div class="m-3 p-3 shadow" :style="{backgroundColor: note.color}">
            <input type="text"
                   class="form-control"
                   placeholder="Write your note title here..."
                   v-model="note.title"
                   @blur="onNoteUpdate"
            />
            <hr/>
            <textarea class="form-control"
                      placeholder="Write your note description here..."
                      rows="5"
                      v-model="note.description"
                      @blur="onNoteUpdate"
                      ref="descriptionTextArea"></textarea>

            <div class="row mt-3">
                <div class="col-6">
                    <button class="btn btn-secondary sortable-handle" type="button">
                        <fa-icon icon="bars"></fa-icon>
                    </button>
                </div>
                <div class="col-6 text-right dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                        <fa-icon icon="palette"></fa-icon>
                    </button>

                    <div class="dropdown-menu">
                        <a v-for="color in colors"
                           :class="{'dropdown-item': true, 'active': note.color === color.color}"
                           @click.prevent="updateColor(color.color)"
                           href="#"
                        >
                            <span class="color-preview" :style="{backgroundColor: color.color}"></span>
                           {{color.name}}
                        </a>

                    </div>

                    <button class="btn btn-danger text-white" type="button" @click.prevent="$emit('remove-note', note)">
                        <fa-icon icon="times"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import colors from '../../config/colors';

    export default {
        props: {
            noteData: {required: true, type: Object}
        },

        data() {
            return {
                note: {},
                colors: []
            }
        },

        methods: {
            onNoteUpdate() {
                this.$emit('note-updated', this.note);
            },

            updateColor(color) {
                this.note.color = color;
                this.onNoteUpdate();
            }
        },

        mounted() {
            this.note = this.noteData;
            this.colors = colors;

            this.$nextTick(() => {
                autosize(this.$refs.descriptionTextArea);
            });
        }
    }
</script>

<style scoped>
    .form-control {
        background: transparent;
        border: 1px solid transparent;
        color: black;
    }

    .form-control:hover, .form-control:focus {
        border-color: black;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .color-preview {
        display: inline-block;
        padding: 0.5rem;
    }

    .dropdown-menu {
        background: #545b62;
    }

    .dropdown-item {
        color: white;
    }

    .dropdown-item:hover {
        background: #8d9194;
    }
</style>
