<template>

    <div v-if="$apollo.loading" class="container-fluid h-100">
        <div class="h-100 row justify-content-center align-items-center text-white">
            <fa-icon icon="spinner" :spin="true" size="5x"></fa-icon>
        </div>
    </div>

    <div v-else>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Welcome to NotesApp</h5>
            <h5 class="my-0 mr-md-auto font-weight-normal">
                {{user.name}}
                <span title="Your login token">
                    <fa-icon icon="info-circle"></fa-icon>
                </span>
            </h5>

            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#" @click.prevent="addNote">
                    Add note
                    <fa-icon icon="plus-circle"></fa-icon>
                </a>
            </nav>
            <a class="btn btn-outline-secondary" @click.prevent="logOut">
                Sign out
                <fa-icon icon="sign-out-alt"></fa-icon>
            </a>
        </div>


        <div class="container-fluid">
            <draggable v-model="user.notes"
                       :options="{animation: 250, handle: '.sortable-handle'}"
                       @update="orderUpdated"
                       ref="sortable"
            >
                 <transition-group name="list-notes" tag="div" class="row">
                     <note-component v-for="note in user.notes"
                                    :key="note.id"
                                    :note-data="note"
                                    @note-updated="updateNote"
                                    @remove-note="removeNote"
                     >
                     </note-component>
                </transition-group>
            </draggable>

            <div class="add-float-button">
                <a class="p-2 m-3 text-white btn btn-primary rounded-circle shadow" href="#" @click.prevent="addNote">
                    <fa-icon icon="plus-circle" size="5x"></fa-icon>
                </a>
            </div>
        </div>
    </div>


</template>

<script>
    import gql from 'graphql-tag'
    import Draggable from 'vuedraggable'
    import AuthStore from "../../stores/AuthStore";
    import NoteComponent from "./NoteComponent";

    const LOAD_QUERY = gql`{
        user {
            name,
            notes {
                id,
                title,
                description,
                color
            }
        }
    }`;

    export default {
        apollo: {
            $client: 'app',

            user: {
                query: LOAD_QUERY,

                error(error) {
                    if (error.networkError.statusCode === 401) {
                        AuthStore.logoutUser();
                    }
                }
            }
        },

        methods: {
            logOut() {
                this.$apollo.mutate({
                    mutation: gql`mutation LogOut {
                        logOut
                    }`,
                }).then(() => {
                    AuthStore.logoutUser();
                }).catch(() => {
                    AuthStore.logoutUser()
                });
            },

            addNote() {
                this.$apollo.mutate({
                    mutation: gql`mutation StoreNote {
                        storeNote {
                            id,
                            title,
                            description,
                            color
                        }
                    }`,
                    update: (store, {data: {storeNote}}) => {
                        // Update the cache after note was added
                        const data = store.readQuery({
                            query: LOAD_QUERY
                        });

                        data.user.notes.push(storeNote);
                        store.writeQuery({query: LOAD_QUERY, data});
                    }
                });
            },

            updateNote(note) {
                this.$apollo.mutate({
                    mutation: gql`mutation UpdateNote($id: Int!, $title: String, $description: String, $color: String!) {
                        updateNote(id: $id, title: $title, description: $description, color: $color) {
                            id,
                            title,
                            description,
                            color
                        }
                    }`,
                    variables: {
                        id: note.id,
                        position: note.position,
                        title: note.title,
                        description: note.description,
                        color: note.color
                    }
                });
            },

            removeNote(note) {
                this.$apollo.mutate({
                    mutation: gql`mutation DestroyNote($id: Int!) {
                        destroyNote(id: $id)
                    }`,
                    variables: {
                        id: note.id
                    },
                    update: (store) => {
                        // Update the cache after note was removed
                        const data = store.readQuery({
                            query: LOAD_QUERY
                        });

                        data.user.notes.splice(data.user.notes.indexOf(note), 1);
                        store.writeQuery({query: LOAD_QUERY, data});
                    }
                });
            },

            orderUpdated() {
                let ids =  this.user.notes.map(({id}) => {
                    return id
                }).reverse();

                this.$apollo.mutate({
                    mutation: gql`mutation PatchNotesOrder($ids: [Int]!) {
                        patchNotesOrder(ids: $ids)
                    }`,
                    variables: {
                        ids
                    },
                });
            }
        },

        created() {
            this.$apollo.queries.user.refetch();
        },

        components: {
            NoteComponent,
            Draggable
        }
    }
</script>

<style scoped>
    .add-float-button {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
    }
</style>